<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profile Details</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="" class="form">
      <div class="card-body border-top p-9">
        <!-- <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Avatar</label>
          <div class="col-lg-8">
            <div
              class="image-input image-input-outline"
              data-kt-image-input="true"
              [style.background-image]="'url(./assets/media/avatars/blank.png'"
            >
              <div
                class="image-input-wrapper w-125px h-125px"
                [style.background-image]="
                  'url(./assets/media/avatars/300-1.jpg'
                "
              ></div>
            </div>
          </div>
        </div> -->
        <form class="form" [formGroup]="profileForm">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="form-group col-8">
                  <label class="col-lg-4 col-form-label fw-bold fs-6"
                    >code profile:</label
                  >
                  <input
                    type="text"
                    formControlName="usrg_code"
                    [className]="
                      profileForm.controls['usrg_code'].errors &&
                      (profileForm.controls['usrg_code'].dirty ||
                        profileForm.controls['usrg_code'].touched)
                        ? 'form-control form-control-sm form-control-solid is-invalid'
                        : 'form-control form-control-sm form-control-solid'
                    "
                  />
                  <div
                    *ngIf="
                      profileForm.controls['usrg_code'].errors &&
                      (profileForm.controls['usrg_code'].dirty ||
                        profileForm.controls['usrg_code'].touched)
                    "
                    class="invalid-feedback"
                  >
                    Ce Champs est obligatoire
                  </div>
                </div>
                <div class="form-group col-8">
                  <label class="col-lg-4 col-form-label required fw-bold fs-6"
                    >Designation:</label
                  >
                  <input
                    type="text"
                    formControlName="usrg_description"
                    [className]="
                      profileForm.controls['usrg_description'].errors &&
                      (profileForm.controls['usrg_description'].dirty ||
                        profileForm.controls['usrg_description'].touched)
                        ? 'form-control form-control-sm form-control-solid is-invalid'
                        : 'form-control form-control-sm form-control-solid'
                    "
                  />
                  <div
                    *ngIf="
                      profileForm.controls['usrg_description'].errors &&
                      (profileForm.controls['usrg_description'].dirty ||
                        profileForm.controls['usrg_description'].touched)
                    "
                    class="invalid-feedback"
                  >
                    Ce Champs est obligatoire
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group col-8">
                  <label class="col-lg-6 col-form-label fw-bold fs-6"
                    >Date début validité profil :
                  </label>

                  <div class="input-group input-group-sm">
                    <input
                      class="form-control form-control-solid"
                      placeholder="jj-mm-aaaa"
                      name="usrg_val_st_date"
                      formControlName="usrg_val_st_date"
                      ngbDatepicker
                      #usrg_val_st_date="ngbDatepicker"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-primary bi bi-calendar3"
                        (click)="usrg_val_st_date.toggle()"
                        type="button"
                      ></button>
                    </div>
                  </div>
                </div>
                <div class="form-group col-8">
                  <label class="col-lg-6 col-form-label fw-bold fs-6"
                    >Date fin validité profil:
                  </label>

                  <div class="input-group input-group-sm">
                    <input
                      class="form-control form-control-solid"
                      placeholder="jj-mm-aaaa"
                      name="usrg_val_en_date"
                      ngbDatepicker
                      formControlName="usrg_val_en_date"
                      #usrg_val_en_date="ngbDatepicker"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-primary bi bi-calendar3"
                        (click)="usrg_val_en_date.toggle()"
                        type="button"
                      ></button>
                    </div>
                  </div>
                </div>
                <div class="form-group col-8">
                  <label class="col-lg-4 col-form-label required fw-bold fs-6"
                    >Profile:
                  </label>
                  <div class="input-group input-group-sm">
                    <input
                      type="text"
                      formControlName="usrd_profile"
                      [className]="
                        profileForm.controls['usrd_profile'].errors &&
                        (profileForm.controls['usrd_profile'].dirty ||
                          profileForm.controls['usrd_profile'].touched)
                          ? 'form-control form-control-sm form-control-solid is-invalid'
                          : 'form-control form-control-sm form-control-solid'
                      "
                      aria-describedby="basic-addon2"
                    />
                    <!-- <div class="input-group-append">
                      <span class="input-group-text" (click)="open(content)">
                        <i class="text-dark-50 flaticon2-search"></i>
                      </span>
                    </div> -->
                    <div class="input-group-append">
                      <button
                        class="btn btn-primary bi bi-search"
                        (click)="open(content)"
                        type="button"
                      ></button>
                    </div>
                    <div
                      *ngIf="
                        profileForm.controls['usrd_profile'].errors &&
                        (profileForm.controls['usrd_profile'].dirty ||
                          profileForm.controls['usrd_profile'].touched)
                      "
                      class="invalid-feedback"
                    >
                      Ce Champs est obligatoire
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <p-tree
                [value]="files"
                selectionMode="checkbox"
                class="w-full md:w-30rem"
                [(selection)]="selectedFiles"
              />
            </div>
          </div>
        </form>

        <!-- <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Full Name</label
          >
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  placeholder="First name"
                  name="fName"
                  value="Max"
                />
              </div>
              
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Last name"
                  name="lName"
                  value="Smith"
                />
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div>
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Choissir le profil</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body d-flex flex-column" style="overflow: hidden">
            <div class="row">
              <div class="demo-container col-12">
                <angular-slickgrid
                  style="max-width: 50%"
                  gridId="gridCode"
                  [columnDefinitions]="columnDefinitions"
                  (onAngularGridCreated)="angularGridReady($event)"
                  (onSelectedRowsChanged)="
                    handleSelectedRowsChanged($event, $event)
                  "
                  [gridOptions]="gridOptions"
                  [dataset]="profiles"
                >
                </angular-slickgrid>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="c('Close click')"
            >
              Annuler
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="c('Close click')"
            >
              Ok
            </button>
          </div>
        </ng-template>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSubmit()"
          [disabled]="isLoading"
        >
          <ng-container *ngIf="!isLoading">Save Changes</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
