<!--begin::Menu wrapper-->
<div
  id="kt_app_sidebar_menu_scroll"
  class="scroll-y my-5 mx-3"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <!-- <div>
      <ng-container
        *ngFor="let node of menusItems"
        [ngTemplateOutlet]="treeNode"
        [ngTemplateOutletContext]="{ $implicit: node }"
      >
      </ng-container>
    </div>
    <ng-template #treeNode let-data>
      <li>{{ data.label }}</li>
      <ng-container *ngIf="data.children">
        <div>
          <ng-container
            *ngFor="let child of data.children"
            [ngTemplateOutlet]="treeNode"
            [ngTemplateOutletContext]="{ $implicit: child }"
          >
          </ng-container>
        </div>
      </ng-container>
    </ng-template> -->

    <div *ngFor="let item of menusItems">
      <div *ngIf="item.children && item.children.length < 0; else elseBlock">
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            [routerLink]="item.link"
            routerLinkActive="active"
          >
            <span class="menu-icon">
              <app-keenicon name="switch" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title">{{ item.label }}</span>
          </a>
        </div>
      </div>
      <ng-template #elseBlock>
        <div
          class="menu-item menu-accordion"
          data-kt-menu-trigger="click"
          routerLinkActive="here show"
        >
          <span class="menu-link">
            <span class="menu-icon">
              <app-keenicon name="profile-circle" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title" data-link="/crafted/account"
              >{{ item.label }}
            </span>
            <span class="menu-arrow"></span>
          </span>
          <div
            class="menu-sub menu-sub-accordion"
            routerLinkActive="menu-active-bg"
          >
            <div *ngFor="let elem of item.children">
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  [routerLink]="elem.link"
                >
                  <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                  </span>
                  <span class="menu-title">{{ elem.label }} </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
